#ProjectList {
	background: #F0C931;
	position: relative;
	z-index: 1;

	&::before, &::after {
		content: '';
		background: #F0C931;
		width: 100%;
		height: 120px;
		position: absolute;
		left: 0;
		z-index: -1;
	}


	&::before {
		top: -60px;
		transform: skewY(3deg);
	}

	&::after {
		bottom: -60px;
		transform: skewY(3deg);
	}

	h1 {
		font-weight: lighter;
		font-size: 60px;
		color: #002745;
		text-transform: uppercase;
		margin-left: 40px;
	}


	.projects-carousel {
		perspective: 100vw;
		width: 100%;
		margin: 90px 0 120px 0;
		padding: 60px;

	}

	.carousel-inner {
		transform: rotateY(17deg);
		display: flex;
		flex-wrap: nowrap;
		transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
		will-change: transform;
	}


	.project-item {
		text-align: center;
		figure {
			width: 30vw;
		}

		figcaption {
			transform: translateY(50px);
		}

		img {
			width: 100%;
			box-shadow: -30px 30px 25px rgba(0,0,0,.15);
		}
	}


	.Button {
		float: right;
		margin-right: 40px;
	}

}