doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/effra.css')
  body
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
    script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="js/particles.js")