body {
	background: #122844;
	color: #fff;
	padding: 50px;
	font: 14px "EffraLight", Helvetica, Arial, sans-serif;
	text-align: center;;
}

a {
	color: #00B7FF;
}

img {
	margin-top: 20vh;
}

h1 {
	color: #FECC00;
	font-weight: lighter;
	font-size: 35px;
}

.particles-js {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}