.FAB {
  background: #fff;
  width: 56px;
  height: 56px;
  position: relative;
  font-size: 26px;
  border-radius: 10000px;
  transition: 0.25s ease-in;
  outline: none;
  border: none;
  z-index: 1;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);


  &:hover,
  &:focus {
    box-shadow: 4px 4px 13px 1px rgba(0,0,0,.35)
  }
}