$easing: cubic-bezier(0.29, 0.84, 0.38, 1.05);

.Animated{
	animation: ScaleSVG 0.9s forwards $easing;
	padding: 1px;

	circle, path {
		stroke-width: 0.3px;
		transform-origin: center;
		animation: ScaleShape 0.9s forwards $easing;
	}


	&._Circle {
		.yellow {
			transform: scale(0);
		}

		.AnimateDash {
			opacity: 0;
			animation: AnimateDash 0.9s forwards $easing 2s;
		}

		.blue {
			animation-delay: 1s;
			transform: scale(0);
		}
	}
}


@keyframes ScaleSVG {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(20);
	}
}

@keyframes ScaleShape {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}


@keyframes AnimateDash {
	0% {
		opacity: 1;
		stroke-dasharray: 0 0;
	}

	100% {
		// fill: transparent;
		transform: scale(1);
		opacity: 1;
		stroke-linecap: round;
		stroke-dasharray: 1.3px 0.7px
	}
}